body {
  margin: 0;
  text-align: center;
  font-size: 1em;
}

h1 {
  margin: 0 0 30px 0;
  padding: 20px 0;
  font-size: 1.2em;
  border-bottom: 1px solid #eee;
  color: #333;
}

.row {
  display: flex;
  justify-content: center;
  text-align: center;
}

.row > div {
  width: 60px;
  height: 60px;
  margin: 4px;
  display: block;
  border: 1px solid #bbb;
  border-radius: 16px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  color: #ddd;
}

.row > div.green {
  --background: #5ac85a;
  --border-color: #5ac85a;
  color: #fff;
  animation: flip 0.5s ease forwards;
}

.row > div.grey {
  --background: #a1a1a1;
  --border-color: #a1a1a1;
  color: #fff;
  animation: flip 0.5s ease forwards;
}

.row > div.yellow {
  --background: #e2cc68;
  --border-color: #e2cc68;
  color: #fff;
  animation: flip 0.5s ease forwards;
}

.row > div:nth-child(2) {
  animation-delay: 0.2s;
}

.row > div:nth-child(3) {
  animation-delay: 0.4s;
}

.row > div:nth-child(4) {
  animation-delay: 0.6s;
}

.row > div:nth-child(5) {
  animation-delay: 0.8s;
}

.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #fff;
    border-color: #bbb;
  }
  45% {
    transform: rotateX(90deg);
    background: white;
    border-color: #bbb;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #fff;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
